<div class="informe-container">
  <h2>Informe Total del Mes: {{informeMensual.mes}}</h2>
  
  <div class="cards-grid">
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Días</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="number">{{informeMensual.dias}}</span>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Horas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="number">{{informeMensual.horas}}</span>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Revisitas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="number">{{informeMensual.revisitas}}</span>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Videos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="number">{{informeMensual.videos}}</span>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Estudios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="number">{{informeMensual.estudios}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p>informe-mes works!</p>