<div class="estudio-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro de Estudio</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="estudioForm" (ngSubmit)="onSubmit()" class="estudio-form">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" placeholder="Ingrese el nombre">
          <mat-error *ngIf="estudioForm.get('nombre')?.hasError('required')">
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="estudioForm.get('fecha')?.hasError('required')">
            La fecha es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tema Analizado</mat-label>
          <textarea matInput formControlName="temaAnalizado" placeholder="Ingrese el tema que se analizó"></textarea>
          <mat-error *ngIf="estudioForm.get('temaAnalizado')?.hasError('required')">
            El tema analizado es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tema por Analizar</mat-label>
          <textarea matInput formControlName="temaPorAnalizar" placeholder="Ingrese el tema para la próxima visita"></textarea>
          <mat-error *ngIf="estudioForm.get('temaPorAnalizar')?.hasError('required')">
            El tema por analizar es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Investigar/Responder</mat-label>
          <textarea matInput formControlName="investigarResponder" placeholder="Puntos para investigar o responder"></textarea>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="!estudioForm.valid">Guardar</button>
          <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>