<div class="investigar-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Por Investigar</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form class="investigar-form">
        <mat-form-field appearance="fill">
          <mat-label>Por Investigar</mat-label>
          <textarea matInput placeholder="Ingrese el tema a investigar"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pregunta</mat-label>
          <textarea matInput placeholder="Ingrese la pregunta"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary">Guardar</button>
          <button mat-button>Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<p>por-investigar works!</p>